body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.screen {
    max-width: 600px;
    margin: 0 auto;
}

textarea, input[type="file"], button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#directory{
    width: 50%;
}